#faq, #contact {
    margin-bottom: 5%;
}
p a {
    color: antiquewhite;
}
form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
dt {
    padding: 10px 10px 5px 10px;
}
input[type=radio] {
    margin-left: 5%;
}
input[type=submit] {
    float: right;
}