.logo figure {
    background-color: #BEC0BD;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

article {
    width: 80vw;
}
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
figcaption a {
    color: antiquewhite;
}

.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: left;
}
.dps {
    height:350px; 
    width:350px;
}

.community {
    height:300px;
    width: 500px;
}
#community {
    display: block;
    width: 500px;
}
#missionvision h3 {
    text-align: left;
}
.mv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: left;
}

@media screen and (max-width: 590px) {
    article {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
    }

    .about-container, .mission-container {
        width: 90%;
        padding: 0%;
    }
    #about {
        display: none;
    }
    #community {
        display: none;
    }

    #aboutus {
        grid-row: 1;
    }
    #missionvision {
        grid-row: 2;
    }

    .logo figure {
        background-color: transparent;
    }
    .logo {
        width: 100%;
        height: 100%;
    }

    #missionvision h3 {
        text-align: left;
        margin-left: 0%;
    }
}

@media screen and (min-width:590px) and (max-width: 790px) {
    html {
        margin-left: auto;
        margin-right: auto;
    }
    main, figure {
        margin: 0;
        padding: 0;
    }
    article {
        display: grid;
        grid-template-rows: 2fr 1fr;
        margin: auto;
    }
    .about-container, .mission-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #aboutus {
        grid-row: 1;
    }
    .about-text {
        grid-column: 1;
        margin-left: 5%;
    }
    .about-figure {
        grid-column: 2;
    }
    .dps {
        width: 100%;
        height: auto;
    }
    figcaption {
        width: 200px;
        font-size: small;
    }

    #missionvision {
        grid-row: 2;
    }
    .mission-text {
        grid-column: 1;
        margin-left: 5%;
    }
    #missionvision h3 {
        text-align: left;
        margin-left: 0;
    }
    .mission-figure {
        grid-column: 2;
        border: 0;
    }
    .community {
        width: 100%;
        height: auto;
    }
    #community {
        width: 350px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 790px) {

    article {
        max-width: 790px;
        display: grid;
        grid-template-rows: 2fr 1fr;
        margin: auto;
    }
    .about-container, .mission-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #aboutus {
        grid-row: 1;
    }
    .about-text {
        grid-column: 1;
        margin-left: 5%;
    }
    .about-figure {
        grid-column: 2;
    }
    .dps {
        width: 100%;
        height: auto;
    }
    figcaption {
        width: 200px;
        font-size: small;
    }

    #missionvision {
        grid-row: 2;
    }
    .mission-text {
        grid-column: 1;
        margin-left: 5%;
    }
    #missionvision h3 {
        text-align: left;
        margin-left: 0;
    }
    .mission-figure {
        grid-column: 2;
        border: 0;
    }
    .community {
        width: 100%;
        height: auto;
    }
    #community {
        width: 350px;
        margin-left: 0;
        margin-right: 0;
    }
}