.logo figure {
    background-color: #BEC0BD;
    margin-left: 20%;
    margin-right: 20%;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}
figcaption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
}

.about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: left;
}
#aboutus {
    margin-bottom: 15%;
}
.dps {
    height:350px; 
    width:350px;
}
.community {
    height:300px;
    width: 500px;
}
#community {
    display: block;
    width: 500px;
}
figcaption a {
    color: antiquewhite;
}
#missionvision {
    margin-bottom: 20%;
}
#missionvision h3 {
    text-align: left;
    margin-left: 48%;
}
.mv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: left;
}

@media screen and (max-width: 590px) {
    article {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
    }

    #about {
        display: none;
    }
    #community {
        display: none;
    }

    #aboutus {
        grid-row: 1;
    }
    #missionvision {
        grid-row: 2;
    }

    .logo figure {
        background-color: transparent;
    }
    .logo {
        width: 100%;
        height: 100%;
    }

    #missionvision h3 {
        text-align: left;
        margin-left: 0%;
    }
}

@media screen and (min-width:590px) and (max-width: 790px) {
    .logo figure {
        background-color: transparent;
    }
    .logo {
        width: 100%;
        height: 100%;
    }

    article {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .about-container, .mission-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

    }
    .dps {
        width: 80%;
        height: auto;
    }

    #aboutus {
        grid-row: 1;
    }
    .about-text {
        grid-column: 1;
        margin-left: 5%;
    }
    .about-figure {
        grid-column: 2;
    }
    figcaption {
        width: 350px;
        font-size: small;
    }


    #missionvision {
        grid-row: 2;
    }
    .mission-text {
        grid-column: 1;
        margin-left: 5%;
    }
    #missionvision h3 {
        text-align: left;
        margin-left: 0;
    }
    .mission-figure {
        grid-column: 2;
        border: 0;
    }
    .community {
        width: 350px;
        height: auto;
    }
    #community {
        width: 350px;
        margin-left: 0;
        margin-right: 0;
    }

}